li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-area {
  top: 50px;
  right: 40px;
}

.temperature {
  font-size: 40px;
}

#search-location {
  position: absolute;
  right: 50px;
  top: 20px;
}

#use-current-location {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: black;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 40px;
  float: right;
}

#use-current-location:hover {
  cursor: pointer;
  text-decoration: underline;
}

.card {
  margin: 0 auto;
  margin-top: 150px;
  background: radial-gradient(
    circle at 10% 20%,
    rgba(234, 249, 249, 0.67) 0.1%,
    rgba(239, 249, 251, 0.63) 90.1%
  );
}

#city {
  font-size: 30px;
}

#temperature {
  fit: .text;
  font-size: 80px;
  line-height: 80px;
  text-size-adjust: auto;
}

#units {
  font-size: 20px;
  vertical-align: 40px;
}

#celcius,
#farenheit {
  text-decoration: none;
  color: #198754;
}
#celcius:hover,
#farenheit:hover {
  color: black;
  transition: all 200ms ease-in-out;
  text-decoration: underline;
}

#units .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

#units .active:hover {
  text-decoration: none;
}

#today-date,
#last-updated {
  font-size: 12px;
}

#weather-description {
  font-family: "Pattaya", sans-serif;
  text-transform: capitalize;
  font-size: 16px;
}

.five-day-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.quote {
  text-align: center;
}

#footer {
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  line-height: 200px;
  color: rgb(102, 102, 102);
  float: right;
}
